
.resume_box {
    display: flex;
    justify-content: center;
    background: url('../img/Resume_RajaSaid.jpg') no-repeat;
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    width:45vw;
    height: 100vh;
    /*align-self: center;*/
    border-radius: 20px;
    /*mergin-left: 100px;*/
    background-position: center;
}
.resume_box:hover {
    width: 75vw;
    height: 180vh;
}

#content_title {
    width: 95px;
}

.content {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media screen and (max-width: 450px) {
    
    .resume_box {
        width: 430px;
        background-size: contain;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
    }
    
}
