* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    font-family: 'Shippori Mincho B1', serif;
    height: 100%;
    width: 100%;
    min-height: 100%;
    background: url('../img/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}

body::after {
  content: '';
  display: block;
  height: 50px;
  /* Set same as footer's height */
}
.container {
    height: 100vh;
}


/* Header */
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 20em;
   /* background: url('../img/Certificate.jpg') no-repeat; /*center center fixed;*/ 
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    border-radius: 50% / 10%;*/
}

.person_box {
    width: 100em;
    height: 21em;
   
    display:flex;
    justify-content: center;
    align-items: center;
}
.certificate {
    width:30em;
    height: 21em;
    background: url('../img/Certificate.jpg') no-repeat; /*center center fixed;*/ 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    top: 2em;
    left: 3em;
    background-position: 0 0;
    border-radius: 50% / 10%;
    box-shadow: 3px 3px 5px 5px black;
    transition: all 0.3s ease;

}

.certificate:hover { 
    transform: translateY(-3px); box-shadow: 0 4px 12px rgba(0,0,0,0.1); 
}

.name {
    color:Black;
    font-size: 150%;
    padding: 0 20px;
}
@keyframes line-animation {
    0% {
        height: 0%;
    }

    100% {
        height: 100%;
    }
}
.vertical {
    /* height: 100%; */
    width: 2px;
    max-height: 200px;
    outline: solid black;
    background: black;
    animation: line-animation 2s ease-in-out;
    animation-fill-mode: forwards;
    margin-left: 20px;
}
.intro {
    color: linear-gradient(rgba(0,0,0,1), rgba(89,89,200,0.3));
    padding: 0 20px;
}
.person_img {
    display: inline-block;
}

.person_img img {
    border-radius: 50%;
    float: left;
    z-index:1;
}
.person_img img ~ .circle {
    border: 5px solid rgba(138, 134, 134, 0.5);
    border-radius: 50%;
    height: 40px;
    width: 30px;
    z-index:2;
    left: 55px;
    top: 70px;
    position: relative;
}

@keyframes circle {
    from {
        transform: scale(5);
    }

    to {
        transform: scale(6);
    }
}

.three { animation: circle 3s infinite linear;}


/* Navbar */
.navbar {
    background: linear-gradient(rgba(0,0,0,1), rgba(184,134,11,0.2));
    display: grid;
    grid-template-columns: repeat(12,1fr);
    height: 52px;
}
nav {
    grid-column: 3 / -1;
    width: 100%;
    align-self: center;
    align-content:center;
}

.toggle_navbar {
    display: flex;
    align-content: center;
}
.toggle_navbar .hamburger {
    display: block;
    align-self: center;
    position:fixed;
    z-index: 1;
}

.nav_menu {
    display:flex;
    width: 100%;
    align-self: center;
    align-items: center;
}

nav li {
    list-style: none;
    margin: 0 20px;
} 
nav a {
    text-decoration: none;
    cursor: pointer;
    background-color:black; 
    width: 150px;
    height: 35px;
    margin-top:  15px;
    margin-left: 30px;
}
.htmltxt{
    color: #8989200;
    background: rgba(184,134,11,0.1);
    /*font-weight: bold;*/
    font-size: 16px;
    font-family: Verdana; 
  }
  .htmltxt:hover {
    color: #f06a00;
  }

  .htmltxt:active {
      color: red;
      border:none;
  }

.nav_brand {
    grid-column: 1 / span 2;
    background-color: rgba(184,134,11,0.1);
    width: 60px;
    height: 36px;
    transform: translateY(25%);
}

.nav_brand img {
    height:50px;
    width: 50px;
    float: left;
    margin-left: 3px;
    margin-top: -7px;
    position: relative;
}

.toggle_navbar input {
    display: none;
}  

  /* content  */
.content { 
    position: relative;
    justify-items: center;
    display: flex;
    flex-flow: column;
    overflow-y: scroll;
}

#content_title {
    font-weight: bold;
    align-self: center;
    width: 95px;
    font-size: 150%;
    border-bottom: 2px solid darkgoldenrod;
    margin-top: 50px;
}


/* footer */
.footer {
    height: 50px;
    width: 100%;
    /*background:#555555;*/
    background: linear-gradient(rgba(184,134,11,0.2), rgba(0,0,0,1));
    background-blend-mode: luminosity;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    /*position: absolute;
    bottom: 0;*/
    position: fixed;
    left: 0;
    bottom: 0;
    margin-top: auto;
}

/* responsive media queries */
@media screen and (max-height: 450px) {
    .container {
        display: grid;
        grid-template: 200px 50px minmax(auto,1fr) 50px / repeat(12,1fr);
        height: 100%;
        justify-items:stretch;
        justify-content: center;
        align-content: center;
        align-items: stretch;
    }   
    .person_img img {
        width: 50px;
        height: 90px;
    }
    .three {
        animation: unset;
    }
    .circle {
        opacity: 0;
    }
    .vertical {
        max-height: 90px;
    }
} 

@media screen and (max-width: 500px) {
    
    .menu {
        display: none;
    }
    .content { 
        grid-column: 1 / -1;
        grid-row: 3 / 4;
    } 

    .toggle_navbar {
        display: flex;
        flex-flow: row-reverse;
        align-content: center;
    }

    .nav_menu {
        all:unset;
        display: none;
    }

    .toggle_navbar input {
        display: block;
        width: 40px;
        height: 32px;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
        -webkit-touch-callout: none;
    }
    
    .toggle_navbar span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: #cdcdcd;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  /* background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), */
                  opacity 0.55s ease;
    }
    
    .toggle_navbar span:first-child
    {
      transform-origin: 1em 1em;
    }
    
    .toggle_navbar span:nth-last-child(2)
    {
      transform-origin: 0% 100%;
    }
    
    /* 
     * Transform all the slices of hamburger
     * into a crossmark.
     */
     .toggle_navbar input:checked ~ .hamburger span
    {
      opacity: 1;
      transform: rotate(-45deg) translate(11px,5px);
      background: #cdcdcd;
    }
    
     .toggle_navbar input:checked ~ .hamburger span:nth-last-child(2)
    {
      opacity: 0;
    }
    
    
     .toggle_navbar input:checked ~ .hamburger span:nth-last-child(3)
    {
      transform: rotate(45deg);
    }
    
    .toggle_navbar input:checked ~ .nav_menu
    {  
      position: absolute;
      /* transform: translate(-30%,50%); */
      width: 200px;
      height: 250px;
      display: flex;
      flex-flow: column;
      justify-content: space-evenly;
      /* margin-top:50px; */
      background: rgba(184,134,11,0.1);
      color:blanchedalmond;
      /* list-style-type: none; */
      -webkit-font-smoothing: antialiased;
      /* to stop flickering of text in safari */
      transform-origin: top;
      transform: none;
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }
    
}
