* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    font-family: 'Shippori Mincho B1', serif;
    height: 100%;
    width: 100%;
    min-height: 100%;
}

body::after {
  content: '';
  display: block;
  height: 50px;
  /* Set same as footer's height */
}
.container {
    height: 100vh;
}

/* Navbar */
.navbar {
    background: black; /*linear-gradient(rgba(0,0,0,1), rgba(184,134,11,0.2)); */
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    position: fixed;
    top:0;
    width: 100%;
}
nav {
    width: 100%;
    align-self: center;
    align-content:center;
}

nav li {
    list-style: none;
    margin: 0 20px;
} 
nav a {
    text-decoration: none;
    cursor: pointer;
    background-color:black; 
    width: 150px;
    height: 35px;
    padding-top:  15px;
    padding-left: 30px;
}

.nav_menu {
    display: flex;
    flex-direction: row;
}

.htmltxt{
    color: #8989200;
    background: rgba(184,134,11,0.1);
    /*font-weight: bold;*/
    font-size: 150%;
    font-family: Verdana; 
  }
  .htmltxt:hover {
    color: #f06a00;
  }

  .htmltxt:active {
      color: red;
      border:none;
  }

.push {
    margin-left:auto;
}

.navbar img {
    height:60px;
    width: 60px;
    float: left;
    margin-left: 3px;
    margin-top: -7px;
    position: relative;
}


/* Header */
.header {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    width: 100%;
    height: 50vh;
    background-color: whitesmoke;
}

.box {
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
}
.certificate {
    /*width:50vw;*/
    align-self: center;
    height: 15em;


    background: url('../img/Certificate.jpg') no-repeat; /*center center fixed;*/ 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 0 0;
    border-radius: 50% / 10%;
    box-shadow: 3px 3px 5px 5px black;
    transition: all 0.3s ease;

}

.certificate:hover { 
    transform: translateY(-3px); box-shadow: 0 4px 12px rgba(0,0,0,0.1); 
}

.name {
    color:Black;
    font-size: 150%;
    padding: 0 20px;
}

@keyframes line-animation {
    0% {
        height: 0%;
    }

    100% {
        height: 100%;
    }
}

.vertical {
    /* height: 100%; */
    width: 2px;
    max-height: 200px;
    outline: solid black;
    background: black;
    animation: line-animation 2s ease-in-out;
    animation-fill-mode: forwards;
    margin-left: 20px;
    display: block;
}


.intro {
    color: linear-gradient(rgba(0,0,0,1), rgba(89,89,200,0.3));
    padding: 0 20px;
}

.person_img {
    display: inline-block;
    margin: 50px;
}

.person_img img {
    border-radius: 50%;
    float: left;
    z-index:1;
}
.person_img img ~ .circle {
    border: 5px solid rgba(138, 134, 134, 0.5);
    border-radius: 50%;
    height: 40px;
    width: 30px;
    z-index:2;
    left: 55px;
    top: 70px;
    position: relative;
}

@keyframes circle {
    from {
        transform: scale(5);
    }

    to {
        transform: scale(6);
    }
}

.three { animation: circle 3s infinite linear;}



  /* content  */
.content { 
    position: relative;
    justify-items: center;
    /*display: flex;
    flex-flow: column;*/
    overflow-y: scroll;
    background: url('../img/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}

#content_title {
    font-weight: bold;
    align-self: center;
    width: 95px;
    font-size: 150%;
    border-bottom: 2px solid darkgoldenrod;
    margin-top: 50px;
}



/* footer */

.footer {
    height: 50px;
    width: 100%;
    /*background:#555555;*/
    background: linear-gradient(rgba(184,134,11,0.2), rgba(0,0,0,1));
    background-blend-mode: luminosity;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    /*position: absolute;
    bottom: 0;*/
    position: fixed;
    left: 0;
    bottom: 0;
    margin-top: auto;
}

/* responsive media queries */
@media screen and (max-height: 450px) {
   
    .person_img img {
        width: 50px;
        height: 90px;
    }
    .three {
        animation: unset;
    }
    .circle {
        opacity: 0;
    }
    .vertical {
        max-height: 90px;
    }
} 

@media screen and (max-width: 1120px) {
    
    .second {
        display: none;
    }
}

@media screen and (max-width: 1400px) {
    
    .certificate {
        display: none;
    }
}
@media screen and (max-width: 750px) {
    
    .htmltxt {
        font-size: 100%;        
    }
    nav a { 
        padding-left:10px;
    }
    @keyframes line-animation {
        0% {
            width: 0%;
        }

        100% {
            width: 100%;
        }
    }
    .vertical {
        /* height: 100%; */
        max-width: 200px;
        height: 2px;
        outline: solid black;
        background: black;
        animation: line-animation 2s ease-in-out;
        animation-fill-mode: forwards;
        margin-top: 20px;
    }
}
